.picture {
  width: 350px;
  height: 350px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.content {
  text-align: center;
  padding: 1rem;
  flex: 1;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 2rem;
}
p {
  color: rgb(160, 160, 160);
}
