.picture {
  width: 350px;
  height: 350px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 10;
  position: relative;
}
.content {
  text-align: center;
  padding: 1rem;
  flex: 1;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 2rem;
  z-index: 10;
  position: relative;
}
p {
  color: rgb(160, 160, 160);
}

.dark-mode {
  background-color: #1a1a1a;
  color: #fff;
  box-shadow: rgba(253, 253, 253, 0.2) 0px 2px 8px 0px;
}
