.profile-pic {
  width: 250px;
  height: 250px;
  object-fit: cover;
  box-shadow: rgba(99, 99, 99, 0.705) 0px 8px 32px 8px;
  border-radius: 59% 41% 35% 65% / 30% 37% 63% 70%;
}

.pic-dark-mode {
  box-shadow: rgba(253, 253, 253, 0.2) 0px 8px 32px 8px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn-light-mode {
  background-color: #f9f9f9;
  color: #000;
  border: 2px solid #ccc;
}

.btn-dark-mode {
  background-color: #1a1a1a;
  color: #fff;
  border: 2px solid #444;
}

.btn-light-mode:hover {
  background-color: #e6e6e6;
}

.btn-dark-mode:hover {
  background-color: #333;
}
