.profile-pic {
  width: 250px;
  height: 250px;
  object-fit: cover;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.cover-img-wrap {
  position: relative;
  display: inline-block;
}

.cover-img-wrap::before,
.cover-img-wrap::after {
  content: "";
  position: absolute;
  border: 2px dashed #777;
  border-radius: 50%;
}

.cover-img-wrap::before {
  width: 320px;
  height: 320px;
  top: calc(60% - 160px);
  left: calc(50% - 160px);
  z-index: -2;
}
.cover-img-wrap::after {
  width: 320px;
  height: 320px;
  top: calc(60% - 160px);
  left: calc(50% - 160px);
  z-index: -2;
  border: 2px dashed #777;
  border-radius: 50%;
}
