.pie {
  -webkit-tap-highlight-color: transparent;
  background: #000;
  border-radius: 50%;
  box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 400px;
  position: absolute;
  width: 400px;
  transform: translateX(150px) translateY(-150px);
  transition: transform 300ms;
  right: -200px;
  top: -200px;
}

.pie-color:hover {
  opacity: 0.85;
}
.pie-color:active {
  opacity: 0.7;
}
.pie1 {
  clip-path: polygon(200px 200px, 0 150px, 0 300px);
  transition-delay: 30ms;
}

.pie2 {
  clip-path: polygon(200px 200px, 0 300px, 0 500px);
  transition-delay: 60ms;
}

.pie3 {
  clip-path: polygon(200px 200px, 0 500px, 250px 450px);
  transition-delay: 90ms;
}

.pie-color {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
}
.pie-color1 {
  background-color: #f5efff;
  clip-path: polygon(200px 200px, 0 150px, 0 300px);
}

.pie-color2 {
  background-color: #f5efff;
  clip-path: polygon(200px 200px, 0 300px, 0 500px);
}

.pie-color3 {
  background-color: #f5efff;
  clip-path: polygon(200px 200px, 0 500px, 250px 450px);
}

.user {
  position: absolute;
  top: 58%;
  right: 80%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
}
.skills {
  position: absolute;
  top: 76%;
  right: 72%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
}
.projects {
  position: absolute;
  top: 88%;
  right: 54%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
}
.menu {
  -webkit-tap-highlight-color: transparent;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 200px;
  right: -100px;
  position: absolute;
  top: -100px;
  width: 200px;
}
.hamburger {
  cursor: pointer;
  height: 46px;
  right: -18%;
  position: relative;
  top: 58%;
  width: 46px;
}
.hamburger path {
  transition: transform 300ms;
}
.hamburger path:nth-child(1) {
  transform-origin: 25% 29%;
}
.hamburger path:nth-child(2) {
  transform-origin: 50% 50%;
}
.hamburger path:nth-child(3) {
  transform-origin: 75% 72%;
}
.hamburger path:nth-child(4) {
  transform-origin: 75% 29%;
}
.hamburger path:nth-child(5) {
  transform-origin: 25% 72%;
}
.active .pie {
  transform: translateX(0) translateY(0);
}
.active .hamburger path:nth-child(1) {
  transform: rotate(45deg);
}
.active .hamburger path:nth-child(2) {
  transform: scaleX(0);
}
.active .hamburger path:nth-child(3) {
  transform: rotate(45deg);
}
.active .hamburger path:nth-child(4) {
  transform: rotate(-45deg);
}
.active .hamburger path:nth-child(5) {
  transform: rotate(-45deg);
}

.scroll-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.scroll-top-button:hover {
  opacity: 0.6;
}

.dark-mode-menu {
  background-color: #1a1a1a;
  box-shadow: rgba(253, 253, 253, 0.2) 0px 4px 16px 4px;
}
