.scroll-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.scroll-top-button:hover {
  opacity: 0.6;
}
