.project-card {
  height: 450px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.project-card.visible {
  opacity: 1;
  transform: translateY(0);
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
