input[type="checkbox"] {
  visibility: hidden;
}

input[type="checkbox"]:checked + label {
  transform: rotate(360deg);
}

input[type="checkbox"]:checked + label::before {
  transform: translateX(30px);
  background-image: var(--checked-icon);
}

label {
  display: flex;
  width: 60px;
  height: 30px;
  border: 2px solid;
  border-radius: 99em;
  position: relative;
  transition: transform 0.75s ease-in-out;
  transform-origin: 50% 50%;
  cursor: pointer;
  background-color: transparent;
  z-index: 10;
}

label::before {
  transition: transform 0.75s ease;
  transition-delay: 0.5s;
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--default-icon);
  border-radius: 50%;
  top: 4px;
  left: 4px;
}
